<p>
  <strong>Carriages:</strong>
  <% if resource.carriages.empty? %>
      No carriages connected.
  <% else %>
     <p>
      Number of carriages:
    </p>
    <p>  
      Economy: <%= number_of_economy_carriages resource.carriages %><br>
      Coupe: <%= number_of_coupe_carriages resource.carriages %>
    </p>
    
    <p>
      Number of seats:<br>
    </p>
    <p>
      Economy:<br>
        Upper: <%= number_of_economy_seats %><br>
        Lower: <%= number_of_economy_seats %>   
    </p>
    <p>
      Coupe:<br>
        Upper: <%= number_of_coupe_seats %><br>
        Lower: <%= number_of_coupe_seats %>
    </p>
  <% end %>
</p> 