<p>
  <strong>Carriages:</strong>
  <% if @train.carriages.empty? %>
      No carriages connected.
  <% else %>
     <p>
      Number of carriages:
    </p>
    <p>  
      Economy: <%= @train.carriages.where(kind: :economy).count %><br>
      Coupe: <%= @train.carriages.where(kind: :coupe).count %>
    </p>
    
    <p>
      Number of seats:<br>
    </p>
    <p>
      Economy:<br>
        Upper: <%= calculate_seats @train.carriages.where(kind: :economy), :upper %><br>
        Lower: <%= calculate_seats @train.carriages.where(kind: :economy), :lower %>   
    </p>
    <p>
      Coupe:<br>
        Upper: <%= calculate_seats @train.carriages.where(kind: :coupe), :upper %><br>
        Lower: <%= calculate_seats @train.carriages.where(kind: :coupe), :lower %>
    </p>
  <% end %>
</p> 