<% content_for(:head) do %>
  <%= javascript_include_tag 'carriages' %>
<% end %>

<%= form_for(@carriage) do |f| %>

  <%= render 'common/errors', resource: @carriage  %>

  <div class = "field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>

  <div class = 'field'>
    <%= f.label 'Type' %>
    <%= f.select :type, Carriage.types, {}, {:onChange=>"renderPartial();"} %>
  </div>

  <div class = 'field'>
    <%=f.label :upper_seats %>
    <%= f.text_field :upper_seats %>
  </div>

  <div class = 'field'>
    <%=f.label :lower_seats %>
    <%= f.text_field :lower_seats %>
  </div>

  <div class = 'field'>
    <%= f.label 'Connenct to train' %>
    <%= f.collection_select :train_id, Train.all, :id, :number  %>
  </div>

  <p id = "demo">
  </p>

  <div class="actions">
    <%= f.submit "#{ @carriage.new_record? ? 'Create' : 'Save' }" %>
  </div>
<% end %>
