<%= form_for(@carriage, :as => :carriage) do |f| %>

  <%= render 'common/errors', resource: @carriage  %>

  <div class = "field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>

  <div class = 'field'>
    <%= f.label :type %>
    <%= f.select :type, Carriage.types, { include_blank: 'Select type' }, { :onChange=>"renderPartial();" } %>
  </div>

  <div id = "partial_place"></div>


  <div class = 'field'>
    <%= f.label 'Connect to train' %>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="actions">
    <%= f.submit "#{ @carriage.new_record? ? 'Create' : 'Save' }" %>
  </div>
  
<script type='text/javascript'>
  function renderPartial() {
      var x = document.getElementById("carriage_type").value;
      
      switch(x) {
        case 'CoupeCarriage': 
          document.getElementById("partial_place").innerHTML = "<%= j render 'coupe', f: f %>"
          break
        case 'EconomyCarriage': 
          document.getElementById("partial_place").innerHTML = "<%= j render 'economy'  , f: f %>"
          break
        case 'SoftSeatsCarriage':
          document.getElementById("partial_place").innerHTML = "<%= j render 'soft_seats', f: f %>"
          break
        case 'LuxeCarriage': 
          document.getElementById("partial_place").innerHTML = "<%= j render 'luxe', f: f %>"
          break
      }
  }
</script>  
  
<% end %>





