<%= form_for(carriage) do |f| %>

  <%= render 'common/errors', resource: carriage  %>

  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>

  <div class = 'field'>
    <%= f.label 'Type' %>
    <%= f.select :kind, ['coupe', 'economy'] %>
  </div>

  <div class = 'field'>
    <%= f.label :seats %>
    <%= f.text_field :seats %>
  </div>


  <div class="actions">
    <%= f.submit "#{ carriage.new_record? ? 'Create' : 'Save' }" %>
  </div>
<% end %>
