<p id="notice"><%= notice %></p>
<h3>Carriage info.</h3>
<p>
  <strong>Number: </strong>
  <%= @carriage.number %>
</p>
<p>
  <strong>Type: </strong>
  <%= @carriage.kind %>
</p>
<p>  
  <strong>Seats: </strong>
  <%= @carriage.seats%>
</p>
<p>  
  <strong>Connected to: </strong>
  <%= @carriage.train.number %>
</p>



<p>
  <%= link_to 'Edit', edit_carriage_path(@carriage) %> |
  <%= link_to 'Back', carriages_path %><br>
  <%= link_to 'Back to index', welcome_index_path %>
</p>
