<p id="notice"><%= notice %></p>
<h3>Carriage info.</h3>
<p>
  <strong>Number: </strong>
  <%= @carriage.number %>
</p>
<p>
  <strong>Type: </strong>
  <%= @carriage.kind %>
</p>
<p>  
  <strong>Seats: </strong><br>
  Upper: <%= @carriage.upper_seats%><br>
  Lower: <%= @carriage.lower_seats%>
</p>
<p>  
  <strong>Connected to: </strong>
  <% if @carriage.train %>
    <%= @carriage.train.number %>
  <% else %>
    Not connected to any train.
  <% end %>
</p>



<p>
  <%= link_to 'Edit', edit_carriage_path(@carriage) %> |
  <%= link_to 'Back', carriages_path %><br>
  <%= link_to 'Back to index', welcome_index_path %>
</p>
