<%= form_for [:admin, @train, @carriage.becomes(Carriage)] do |f| %>

  <%= render 'common/errors', resource: @carriage  %>

  <div class = "field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>

  <div class = 'field'>
    <%= f.label :type %>
    <%= f.select :type, Carriage.types, { } %> 
  </div>

    <div class = 'CoupeCarriage type', id = "CoupeCarriage">
      <%= render 'coupe', f: f  %>
    </div>
    <div class = 'EconomyCarriage type', id = "EconomyCarriage">
      <%= render 'economy', f: f  %>
    </div>
    <div class = 'SoftSeatsCarriage type', id = "SoftSeatsCarriage">
      <%= render 'soft_seats', f: f  %>
    </div>
    <div class = 'LuxeCarriage type', id = "LuxeCarriage">
      <%= render 'luxe', f: f  %>
    </div>

  <div class = 'field'>
    <%= f.label 'Connect to train' %>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="actions">
    <%= f.submit "#{ @carriage.new_record? ? 'Create' : 'Save' }" %>
  </div>
<% end %>





