<%= form_for [:admin, @train, @carriage.becomes(Carriage)] do |f| %>

  <%= render 'common/errors', resource: @carriage  %>

  <div class = "field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>

  <div class = 'field'>
    <%= f.label :type %>
    <%= f.select :type, Carriage.types, {}, { :onChange=>"renderPartial();" } %> 
  </div>

  <div class = 'CoupeCarriage', id = "CoupeCarriage">
    <%= render 'coupe', f: f  %>
  </div>
  <div class = 'EconomyCarriage', id = "EconomyCarriage">
    <%= render 'economy', f: f  %>
  </div>
  <div class = 'SoftSeatsCarriage', id = "SoftSeatsCarriage">
    <%= render 'soft_seats', f: f  %>
  </div>
  <div class = 'LuxeCarriage', id = "LuxeCarriage">
    <%= render 'luxe', f: f  %>
  </div>


  <div class = 'field'>
    <%= f.label 'Connect to train' %>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="actions">
    <%= f.submit "#{ @carriage.new_record? ? 'Create' : 'Save' }" %>
  </div>
<% end %>





