<p>
  <strong><%= t('.title') %>:</strong>
  <% if @train.carriages.empty? %>
      <%= t('.no_carriages')%>
  <% else %>
    <p id = "carriages">
      <%= show_carriages([:admin, train]) %></p>
    <!-- <p>-->
    <!--  Number of carriages:-->
    <!--</p>-->
    <!--<p>  -->
    <!--  Economy: <%= carriages_count(@train, :economy) %><br>-->
    <!--  Coupe: <%= carriages_count(@train, :coupe) %>-->
    <!--</p>-->
    
    <!--<p>-->
    <!--  Number of seats:<br>-->
    <!--</p>-->
    <!--<p>-->
    <!--  Economy:<br>-->
    <!--    Upper: <%= calculate_seats(@train, :economy, :upper_seats) %><br>-->
    <!--    Lower: <%= calculate_seats(@train, :economy, :lower_seats) %>   -->
    <!--</p>-->
    <!--<p>-->
    <!--  Coupe:<br>-->
    <!--    Upper: <%= calculate_seats(@train, :coupe, :upper_seats) %><br>-->
    <!--    Lower: <%= calculate_seats(@train, :coupe, :lower_seats) %>-->
    <!--</p>-->
  <% end %>
</p> 